<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
<form id="form">
    <div>
        <button type="submit">Сформировать статью</button>
    </div>
    <div id="article">
        <div id="someDivId">
            <button id="leftButton" class="left-sub-menu-button" type="button"><img src="img/left-sub-menu.png" height="100%" width="100%"></button>
            <textarea id="text-content" class="text-cont"></textarea>
            <br>
        </div>
    </div>
    <div class="bottom-menu">
        <button id="add-text-button" type="button" class="round-button" onclick="createDiv('text-content')"><img
                src="img/text-icon.png" height="100%" width="110%"></button>
        <button id="add-img-button" type="button" class="round-button"><img src="img/img-icon.png" height="100%" width="110%"></button>
    </div>
    <br>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/autoResize.js"></script>
<script src="js/sendForm.js"></script>
<script>

    $(".left-sub-menu-button").each(function () {
        $(this).click(function() {
            console.log($(this).parent().attr('id'));
        })
    });

    let el = document.getElementsByTagName('textarea')[0];
    autoResize('#' + el.id, el.className);
    var br = document.createElement("br");
    let i = 1;

    /**
     * Создание нового элемента по прожатию кнопки
     * @param textType     тип текста
     */
    function createDiv(textType) {
        var articleDiv = document.getElementById("article");
        var newDiv = document.createElement('div')
        newDiv.id = "someDivId" + i;

        var newButton = document.createElement('button');
        newButton.id = "leftButton" + i;
        newButton.className = "left-sub-menu-button";
        newButton.innerHTML = '<img src="img/left-sub-menu.png" height="100%" width="100%">';

        var textBlock = document.createElement('textarea');
        textBlock.id = "text-content" + i;
        textBlock.className = "text-cont";

        newDiv.appendChild(newButton);
        newDiv.appendChild(textBlock)
        newDiv.appendChild(br);
        articleDiv.appendChild(newDiv);
        autoResize('#' + textBlock.id, textBlock.className);
        i++;
        $(newButton).click(function() {
            console.log($(this).parent().attr('id'));
        })
    }

</script>
</body>
</html>